<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MicroApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="SendKeys" value="SendInput" />
  </appSettings>
  <userSettings>
    <MicroApp.Properties.Settings>
      <setting name="TypeMethod" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="RunElevated" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KeyDelayMS" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="HotKey" serializeAs="String">
        <value>V</value>
      </setting>
      <setting name="HotKeyModifier" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="StartDelayMS" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ConfirmOver" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Confirm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HotKeyMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OcrHotKey" serializeAs="String">
        <value>O</value>
      </setting>
      <setting name="OcrHotKeyModifier" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="OcrLanguage" serializeAs="String">
        <value />
      </setting>
      <setting name="OcrOutput" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OcrKeepLines" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CaptureHotKey" serializeAs="String">
        <value>S</value>
      </setting>
      <setting name="CaptureHotKeyModifier" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="CaptureDelay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CaptureOutput" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CaptureFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="LockRatio" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RatioPreset" serializeAs="String">
        <value>16:9</value>
      </setting>
      <setting name="LockPixel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PixelWidth" serializeAs="String">
        <value>1920</value>
      </setting>
      <setting name="PixelHeight" serializeAs="String">
        <value>1080</value>
      </setting>
      <setting name="GifHotKey" serializeAs="String">
        <value>G</value>
      </setting>
      <setting name="GifHotKeyModifier" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="GifFps" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="GifSeconds" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="GifLockRatio" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GifRatioPreset" serializeAs="String">
        <value>16:9</value>
      </setting>
      <setting name="GifLockPixel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GifPixelWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="GifPixelHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="GifOutput" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GifFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="VideoHotKey" serializeAs="String">
        <value>R</value>
      </setting>
      <setting name="VideoHotKeyModifier" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="VideoFps" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="VideoSeconds" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="VideoQuality" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="VideoAudioSource" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="VideoLockCursorSize" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VideoClickGlow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VideoActionLog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VideoLockRatio" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VideoRatioPreset" serializeAs="String">
        <value>16:9</value>
      </setting>
      <setting name="VideoLockPixel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VideoPixelWidth" serializeAs="String">
        <value>1280</value>
      </setting>
      <setting name="VideoPixelHeight" serializeAs="String">
        <value>720</value>
      </setting>
      <setting name="VideoOutput" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VideoFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="HotKeyTakeOver" serializeAs="String">
        <value />
      </setting>
      <setting name="OcrHotKeyTakeOver" serializeAs="String">
        <value />
      </setting>
      <setting name="CaptureHotKeyTakeOver" serializeAs="String">
        <value />
      </setting>
      <setting name="GifHotKeyTakeOver" serializeAs="String">
        <value />
      </setting>
      <setting name="VideoHotKeyTakeOver" serializeAs="String">
        <value />
      </setting>
      <setting name="TextPickHotKey" serializeAs="String">
        <value>T</value>
      </setting>
      <setting name="TextPickHotKeyModifier" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="TextPickHotKeyTakeOver" serializeAs="String">
        <value />
      </setting>
      <setting name="NoteHotKey" serializeAs="String">
        <value>N</value>
      </setting>
      <setting name="NoteHotKeyModifier" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="NoteHotKeyTakeOver" serializeAs="String">
        <value />
      </setting>
      <setting name="NoteDateFormat" serializeAs="String">
        <value>yyyy-MM-dd</value>
      </setting>
      <setting name="NoteLongDateFormat" serializeAs="String">
        <value>dddd, dd MMMM yyyy</value>
      </setting>
      <setting name="NoteTimestampFormat" serializeAs="String">
        <value>yyyy-MM-dd HH:mm:ss</value>
      </setting>
      <setting name="NoteAiProvider" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NoteAiModel" serializeAs="String">
        <value />
      </setting>
      <setting name="NoteAiBaseUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="NoteHideTaskbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NoteListBounds" serializeAs="String">
        <value />
      </setting>
      <setting name="NoteAiApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="NoteBanglaToken" serializeAs="String">
        <value />
      </setting>
      <setting name="NoteFontSize" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="ImageEditorHotKey" serializeAs="String">
        <value>E</value>
      </setting>
      <setting name="ImageEditorHotKeyModifier" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ImageEditorHotKeyTakeOver" serializeAs="String">
        <value />
      </setting>
      <setting name="DateHotKey" serializeAs="String">
        <value>D</value>
      </setting>
      <setting name="DateHotKeyModifier" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="DateHotKeyTakeOver" serializeAs="String">
        <value />
      </setting>
      <setting name="LongDateHotKey" serializeAs="String">
        <value>M</value>
      </setting>
      <setting name="LongDateHotKeyModifier" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="LongDateHotKeyTakeOver" serializeAs="String">
        <value />
      </setting>
      <setting name="AotHotKey" serializeAs="String">
        <value>W</value>
      </setting>
      <setting name="AotHotKeyModifier" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="AotHotKeyTakeOver" serializeAs="String">
        <value></value>
      </setting>
      <setting name="AotOpacity" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="AotClickUnpins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AotTitleMark" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AotNotify" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AotSound" serializeAs="String">
        <value>False</value>
      </setting>
    </MicroApp.Properties.Settings>
  </userSettings>
</configuration>